body { 
  color : #442D11;
  background-color: #F3EFE7;
}
header {
  margin-top : 0px;
}
header span:first-child {
  width : 50%;
}
header span {
  height : 1em;
  display : inline-block;
  width : 25%;
  float : left;
}
hr {
  background-color : #E5DBCB;
  height : .5em;
  border-top : none;
  border-bottom : none;
}
.field_with_errors { display: inline-block; background-color: #fee; }
#photo .photo { width: 100% }
.centered { text-align: center; }
.hero-unit h1 { margin-bottom: 30px; }

.essay-preview {
  border-bottom: 1px dashed #90B0D0; padding: 30px 0;

  img { width: 100%; }
  h3, p { font-weight: normal; color: #fff; margin-bottom: 5px; font-size: 18px; }
  h3 { background-color: #484848; padding: 10px; }
  p span { font-weight: normal; background-color: #5C5C5C; color: #fff; padding: 10px; display: inline-block; }
  a.btn { margin-top: 50px; }
}

.orange {
  background-color : #DE611A;
}

.blue {
  background-color : #30B1DF;
}

.green {
  background-color : #BEBE63;
}

.yui3-aclist-item-active {
  background: #2647A0;
  color: white;
  outline: 0;
}
.yui3-aclist-item-active {
  outline: #AFAFAF dotted thin;
}
.yui3-aclist-item {
  cursor: pointer;
  list-style: none;
  padding: 2px 5px;
}

.yui3-aclist-content {
  background: white;
  border: 1px solid #AFAFAF;
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.58);
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.58);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.58);
}

#map-image { 
  position: relative;
  float: right;
  right : 50px; 
}

ol.photos {
  position : relative;
  padding-left : 36em;
  width : 33em;
  overflow:hidden;
}

li.photo:first-child {
  position : absolute;
  top: 0em;
  width : 30em;
  max-width : 30em;
  left : -0.5em;
}

li.photo:first-child img{
  width : 30em;
  vertical-align: middle;
}

li.photo:first-child input[type=file] {
  width: 30em;
  height : 30em;
}

li.photo:first-child .tooltip {
  min-height : 35em;
  min-width: 35em;
}

li.photo {
  position : relative;
  list-style-type : none;
  float : left;
  max-width : 10em;
  height : 10em;
  padding : .15em;
}

input[type=text], textarea {
  min-width : 30em;
  -webkit-box-shadow : 0px 2px 1px rgba(0,0,0,0.4) !important; 
  box-shadow : 0px 2px 1px rgba(0,0,0,0.4);
  border-radius : 3px;
}