// Place all the styles related to the essays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.addphoto {
	display : block;
	float : left;
	height : 10em;
	width : 10em;
	background-color : #e0e0e0;
	background-image : url(WhiteCamera.png);
	background-repeat : no-repeat;
	background-position : center;
	text-indent : -9999px;
}

input[type=file] {
	opacity : 0;
	display : block;
	height : 10em;
	width : 10em;
	min-width: 10em;
}

.entry-fields {
	margin-left : 25px;
	min-height : 390px;
}

textarea {
	height : 95px;
}
.tooltip {
	background-color : rgba(255,255,255,0.5);
	background-image : url(WhiteCamera.png);
	background-repeat : no-repeat;
	background-position : center;
	top: 0px;
	max-width : 11.5em;
	max-height: 11.5em;
	overflow : hidden;
}

.tooltip input[type=text] {
	position : absolute;
	bottom : 0px;
	width : 8.5em;
	min-width: 8.5em;
}

li.photo:hover .tooltip {
	opacity : 1;
}